Binaries
DerivedDataCache
Intermediate
Saved
Content/BigStarStation
Content/ParagonTwinblast
Content/UndeadPack
Content/LP_LiteWeapons_JC
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace